@using Pronia.Areas.Admin.ViewModels.Order

@model List<ListViewModel>
<div class="col-lg-9 col-12 mt--30 mt-lg--0">
    <!-- Single Tab Content Start -->
    <div class="myaccount-content">
        <h3>Orders</h3>
        <div class="myaccount-table table-responsive text-center">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Order ID</th>
                        <th>OrderDate</th>
                        <th>CurrentStatus</th>
                        <th>TotalPrice</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Identifikator</td>
                            <td>@item.OrderDate</td>
                            <td>@item.CurrentStatus</td>
                            <td>@item.TotalPrice</td>

                            <td class="text-end">
                                <a asp-route="admin-order-update" asp-route-id="@item.Identifikator"><i class="las la-pen text-secondary font-16"></i></a>
                                <form method="POST" asp-route="admin-order-delete" asp-route-orderId="@item.Identifikator" id="book-form-@item.Identifikator"></form>
                                <button type="submit" form="book-form-@item.Identifikator">
                                    <i class="las la-trash-alt text-secondary font-16"></i>
                                </button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- Single Tab Content End -->
</div>

<!-- My Account Tab Content End -->