@using Pronia.Areas.Client.ViewModels.Slider
@model List<ListViewModel>

@foreach (var slider in Model)
{
    <div class="swiper-slide animation-style-01">
        <div class="slide-inner style-1 bg-height"
         data-bg-image="~/client/assets/images/slider/bg/1-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                        <div class="slide-content text-black">
                            <span class="offer">@slider.Offer</span>
                            <h2 class="title">@slider.Tittle</h2>
                            <p class="short-desc">
                              @slider.Content
                            </p>
                            <div class="btn-wrap">
                                <a class="btn btn-custom-size xl-size btn-pronia-primary"
                               href="@slider.ButtonURL">@slider.ButtonName</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                        <div class="inner-img">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img  src="~/@slider.ImageURL" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

