@using First_For_Mvc_Project.Areas.Client.ViewComponents
@using First_For_Mvc_Project.Areas.Client.ViewModels.Product
@model ModalViewModel



<div class="modal-content">
    <div class="modal-header">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                data-tippy="Close"
                data-tippy-inertia="true"
                data-tippy-animation="shift-away"
                data-tippy-delay="50"
                data-tippy-arrow="true"
                data-tippy-theme="sharpborder"></button>
    </div>
    <div class="modal-body">
        <div class="modal-wrap row">
            <div class="col-lg-6">
                <div class="modal-img">
                    <div class="swiper-container modal-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="single-img">

                                    <img class="img-full" src="~/@Model.ImageURL" alt="Product Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="single-img">
                                    <img class="img-full"
                                         src="assets/images/product/large-size/1-2-570x633.jpg"
                                         alt="Product Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="single-img">
                                    <img class="img-full"
                                         src="assets/images/product/large-size/1-3-570x633.jpg"
                                         alt="Product Image" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="single-img">
                                    <img class="img-full"
                                         src="assets/images/product/large-size/1-4-570x633.jpg"
                                         alt="Product Image" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="single-product-content">
                    <h2 class="title">@Model.Title</h2>
                    <div class="price-box">
                        <span class="new-price">$@Model.Price</span>
                    </div>
                    <div class="rating-box-wrap">
                        <div class="rating-box">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="review-status">
                            <a href="#">( 1 Review )</a>
                        </div>
                    </div>
                    <div class="selector-wrap color-option">
                        <span class="selector-title border-bottom-0">Color</span>
                        <select asp-for="ColorId" asp-items="@(new SelectList(Model.Colors, nameof(First_For_Mvc_Project.Areas.Admin.ViewModels.Color.ListViewModel.Id), nameof(First_For_Mvc_Project.Areas.Admin.ViewModels.Color.ListViewModel.Name)))" class="form-select">
                            </select>

                    </div>
                    <div class="selector-wrap size-option">
                        <span class="selector-title">Size</span>
                        @* @foreach (var item in @Model.Sizes)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }*@
                        <select asp-for="SizeId" asp-items="@(new SelectList(Model.Sizes, nameof(First_For_Mvc_Project.Areas.Admin.ViewModels.Size.ListViewModel.Id), nameof(First_For_Mvc_Project.Areas.Admin.ViewModels.Size.ListViewModel.Name)))" class="form-select"> 
                            </select>
                    </div>

                    <p class="short-desc">
                        @Model.Content
                    </p>
                    <ul class="quantity-with-btn">
                        <li class="quantity">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box"
                                       value="1"
                                       type="text" />
                            </div>
                        </li>
                        <li class="add-to-cart">
                            <a asp-route="client-basket-add" asp-route-id="@Model.Id" class="btn btn-custom-size lg-size btn-pronia-primary add-product-to-basket-btn-modal">
                                Add to cart
                            </a>
                        </li>
                        <li class="wishlist-btn-wrap">
                            <a class="custom-circle-btn" href="wishlist.html">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="compare-btn-wrap">
                            <a class="custom-circle-btn" href="compare.html">
                                <i class="pe-7s-refresh-2"></i>
                            </a>
                        </li>
                    </ul>

                    <div style="width:200%;">



                        @await Component.InvokeAsync(nameof(PaymentBenefits))

                    </div>






                </div>
            </div>
        </div>
    </div>
</div>
